trigger:
 branches:
   include:
     - none
     - main

pool:
  name: agentxyz1

stages:
  - stage: build
    jobs:
      - job: buildjob
        displayName: init
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: '1.14.3'
         
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: 'D:\antim_sangram\infra_code\environment\dev'
              backendServiceArm: 'connection-1'
              backendAzureRmStorageAccountName: 'niteshstg1'
              backendAzureRmContainerName: 'niteshcont1'
              backendAzureRmKey: 'dev1.terraform.tfstate'
          

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: 'D:\antim_sangram\infra_code\environment\devD:\antim_sangram\infra_code\environment\dev'

  - stage: tfsec
    jobs:
      - job: 
        displayName: tfsec
        steps:
          - task: tfsec@1
            inputs:
              version: 'v1.26.0'
              dir: 'D:\antim_sangram\infra_code\environment\dev'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: 'D:\antim_sangram\infra_code\environment\dev'
              environmentServiceNameAzureRM: 'connection-1'

          

          
 
        
            